

/*关于窗口的整体body*/
body{
	margin: 0;
}

input{
	outline: none;
}

/*公共的样式*/
.hide{
	display: none;
}


/*头部导航条样式*/
.header{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #4F4F4F;
}
.header .item{
	float: left;
	width: 12%;
	height: 70%;
	margin-top: 5%;
}

.header .item img{
	height: 55%;
	width: 55%;
	margin-left: 10px;
}

.header .remark{
	float: left;
	width: 75%;
	height: 50%;
	border-left: 1px solid #000000;
	margin-top: 14px;
}

.header .remark span{
	font: "微软雅黑" ;
	font-size: 1.15em;
	color: #ffffff;
	text-align: center;
	margin:15px;
}

/*底部样式*/
.bottom{
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFFFF0;

}
.bottom .inputline{
	height: 50px;
	width: 100%;
	border-top: 1px solid #bcbdbd;
	border-bottom: 1px solid #bcbdbd;
}

.bottom .inputline .box{
	float: left;
	width: 12%;
	height: 100%;
}
.bottom .inputline .inputbox{
	float: left;
	width: 64%;
	height: 100%;
	margin: auto 0;
}

.bottom .inputline .inputbox input{
	border: none;
	width: 90%;
	height: 50%;
	background-color: #FFFFF0;
	margin:10px 10px;
	border-bottom: 1px solid #d6d9dc;
	font: "微软雅黑";
	font-size: 0.8em;
}

.bottom .inputline .inputbox input:focus{
	border: 0px;
	border-bottom: 1px solid #2bbb0c;
}
.bottom .inputline .box img{
	margin:0px auto;
	margin-top: 15%;
	margin-left: 10%;
	width: 75%;
	height: 75%;
}

.bottom .inputline .btn-send{
	float: left;
	width: 11%;
	height: 50%;
	display: none;
	border: none;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 5px;
	background-color:#32CD32 ;
	font-family: "微软雅黑";
	font-size: 0.65em;
	color: white;
}
.bottom .tools {
	height:100%;
	width: 100%;
	background-color: #FFFAFA;
	display: none;
}

.bottom .tools .toolsblock{
	height:90%;
	width: 90%;
	margin-left: 5%;
}



.bottom .tools .toolsblock .tool{
	height: 40%;
	width: 25%;
	float: left;
}

.bottom .tools .toolsblock .tool div{
	width: 60% ;
	height: 45%;
	margin-top: 25%;
	margin-left: 25%;
	border-radius: 12px;
	border: 1px solid #BCBDBD;
	text-align: center;
}
.bottom .tools .toolsblock .tool span{
	width: 100%;
	height: 100%;
	font-size: 0.62em;
	margin-left: 20%;
	text-align: center;
	line-height: 100%;
}

.bottom .tools .toolsblock .tool div img{
	margin-top: 20%;
	width: 60%;
	height: 60%;
}

.chatpanel{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.chatpanel .msg-right{
	margin: 10px 0;
	width: 100%;
	height: auto;
	display: inline-block;
}

.chatpanel .msg-right .photo{
	float: right;
	height: 50px;
	width: 50px;
	margin:0 10px;
	overflow: hidden;
}

.chatpanel .msg-right .photo img{
	height: 50px;
	width: 50px;
}

.chatpanel .msg-right .text{
	float: right;
	height: auto;
	width: auto;
	border-radius: 5px;
	background-color: #00FF00;
}
.chatpanel .msg-right .text span{
	margin: 20px;
	font: "微软雅黑";
	font-size: 0.9em;
	line-height: 40px;
}


.chatpanel .msg-left{
	margin: 10px 0;
	width: 100%;
	height: auto;
	display: inline-block;
}

.chatpanel .msg-left .photo{
	float: left;
	height: 50px;
	width: 50px;
	margin:0 10px;
	overflow: hidden;
}

.chatpanel .msg-left .photo img{
	height: 50px;
	width: 50px;
}

.chatpanel .msg-left .text{
	float: left;
	height: auto;
	width: auto;
	border-radius: 5px;
	background-color: #00FF00;
}
.chatpanel .msg-left .text span{
	margin: 20px;
	font: "微软雅黑";
	font-size: 0.9em;
	line-height: 40px;
}


/*弹框 对话框*/
#select-dialog{
	position: relative;
	display: inline-block;
	left: 50%;
	top: 200px;
	width: 240px;
	background-color: #fff;
	height: 100px;
	border-radius: 5px;
	margin-left: -120px;
	display: none;
}

#select-dialog .items{
	position: absolute;
	width: 80%;
	height: 100px;
	margin-left: -25px;
	list-style: none;
	opacity:1;
	z-index: 1;
}
#select-dialog .items li:nth-child(1){
	border-bottom: 1px solid #ccc;
}

#select-dialog .items li{
	height: 40px;
	line-height: 40px;
	width: 100%;
	font-size: 1.1em;
}
#bg-model{
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity:0.4;
	display: none;
}
