/*头部导航条样式*/
.header{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #4F4F4F;
}
.header .item{
	float: left;
	width: 12%;
	height: 70%;
	margin-top: 5%;
}

.header .item img{
	height: 55%;
	width: 55%;
	margin-left: 10px;
}

.header .remark{
	float: left;
	width: 75%;
	height: 50%;
	border-left: 1px solid #000000;
	margin-top: 14px;
}

.header .remark span{
	font: "微软雅黑" ;
	font-size: 1.15em;
	color: #ffffff;
	text-align: center;
	margin:15px;
}



/*底部样式*/
