*{
	margin:0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
input{
	outline: none;
	border: none;
}
.header{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #4F4F4F;
	z-index: 1;
}
.header .item{
  float: left;
	width: 24px;
	height: 24px;
	margin:16px;
}

.header .item img{
	height: 20px;
	width: 20px;
}

.header .remark{
	float: left;
	width: 30%;
	height: 50%;
	border-left: 1px solid #000000;
	margin-top: 14px;
}

.header .remark span{
	font: "微软雅黑" ;
	font-size: 1.15em;
	color: #ffffff;                                                                                                                                                                                                                                                         vfffffffffffffffffff
	text-align: center;
	margin:16px;
}

/*中间登录面板*/
.window{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.login-form{
  margin: 0 16px;
  padding-top: 60px;
}

.login-form .input{
  width: 100%;
  height: 50px;
  border-bottom:1px solid #eee;
}

.input span,.input input{
  vertical-align: middle;
}

.input span{
  width: 30%;
  height: 100%;
}

.input input{
  width: 70%;
  height: 100%;
  border: none;
  text-indent: 10px;
}

.btn-login{
	margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #00EE76;
  color: #fff;
  font-size: 16px;
	text-align: center;
	line-height: 50px;
}

.note{
	float: right;
	margin-top: 10px;
	text-decoration: none;
}

.login-other{
	position: fixed;
	bottom: 50px;
	text-align: center;
	left: 50%;
	margin-left: -70px;
}
.login-other img,.login-form span{
	vertical-align: middle;
}
