*{
	margin:0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
input{
	outline: none;
	border: none;
}
a{
  text-decoration: none;
  margin: 20px;
  line-height: 50px;
}

.header{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #4F4F4F;
	z-index: 1;
}


.header .remark{
	float: left;
	width: 30%;
	height: 50%;
	border-left: 1px solid #000000;
	margin-top: 14px;
}

.header .remark span{
	font: "微软雅黑" ;
	font-size: 1.15em;
	color: #ffffff;                                                                                                                                                                                                                                                         vfffffffffffffffffff
	text-align: center;
	margin:16px;
}

/*中间登录面板*/
.window{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.login-form{
  margin: 0 16px;
  padding-top: 60px;
}

.btn-login{
	margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #00EE76;
  color: #fff;
  font-size: 16px;
	text-align: center;
	line-height: 50px;
}
.login-account{
  margin-top: 60px;
text-align: center;
}

.login-account img{
  width: 80px;
  height: 80px;
}

.login-account span{
  display: block;
  font-size: 14px;
  margin:20px;
}

.input-items{
  width: 100%;
  margin-top: 40px;
}

.input-password{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid  #00EE76;
}

.input-password img{
  width: 26px;
  height: 26px;
  margin: 10px;
}

.input-password input{
  font-size: 15px;
}

.input-password img,.input-password input{
  vertical-align: middle;
}

.note{
  text-align: center;
  display: block;
	margin-top: 10px;
	text-decoration: none;
}
.note-more{
  text-align: center;
  display: block;
	margin-top: 90px;
	text-decoration: none;
}
