<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<!--头部 header-->
    <!--头部-->
		<div id="" class="header">
			<!--返回-->
			<div id="" class="item">
				<img src="../img/return.svg" />
			</div>
			<!--标签：备注-->
			<div class="remark">
				<span>东东</span>
			</div>
			<div id="" class="item">
				<img src="../img/contactz.svg" />
			</div>
		</div>

    <!-- 消息提醒 -->
    <div class="messageInfo">
      <span></span>
    </div>

		<!--中间内容-->
		<div class="">
			<div id="">
				<!--chat-->
				<div class="">
					<div class="">

					</div>
				</div>
				<!--contacts-->
				<div class="">
					<div class="">
						<!--new Friends-->
						<div id="">

						</div>
						<!--Saved Groups-->
						<div id="">

						</div>
						<!--Tags-->
						<div id="">

						</div>
						<!--Official-->
						<div id="">

						</div>
					</div>
					<!--用户分组-->
				</div>
				<!--Discover-->
				<div class="">
					<!---->
					<div class="">
						<!--Moments-->
					    <div id="">
					    </div>
					</div>
					<!---->
					<div class="">
						<!--Scan QR Code-->
						<div id="">

						</div>
						<!--Shake-->
						<div id="">

						</div>
					</div>
					<!---->
					<div class="">
						<!--People Nearby-->
						<div id="">

						</div>
						<!--Messag in a Bottle-->
						<div id="">

						</div>
					</div>
					<!---->
					<div class="">
						<!--Games-->
						<div id="">

						</div>
					</div>
				</div>
				<!--m                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         e-->
				<div class="">
					<div class="">
						<!--my Profile-->
					   <div id="">

					   </div>
					</div>
					<!---->
					<div class="">
						<!--my posts-->
     					<div id="">
						</div>
						<!--favorites-->
						<div id="">
						</div>
					</div>

					<div class="">
						<!--wallet-->
						<div class="">
						</div>
						<!--cards& offer-->
						<div id="">
						</div>
					</div>
					<div class="">
						<!--sticky gallery-->
						<div id="">
						</div>
					</div>
					<div class="">
						<!--setting-->
						<div id="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--底部-->
		<div class="footer">
    <ul class="nav">
      <!-- chats -->
      <li>
        <div class="nav-btn">
           <img src="" alt="">
           <span>Chats</span>
        </div>
      </li>
      <!-- Contacts -->
      <li>
        <div class="nav-btn">
           <img src="" alt="">
           <span>Contacts</span>
        </div>
      </li>
      <!-- Diccover -->
      <li>
        <div class="nav-btn">
           <img src="" alt="">
           <span>Discover</span>
        </div>
      </li>
      <!-- me -->
      <li>
        <div class="nav-btn">
           <img src="" alt="">
           <span>Me</span>
        </div>
      </li>
    </ul>
		</div>
    <script src="../js/home.js" charset="utf-8"></script>
	</body>
</html>
