<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <link  href="../css/login.css"  rel="stylesheet"></link>
  </head>
  <body>
    <!--头部-->
    <div id="" class="header">
      <!--返回-->
      <div onclick="returnToHome()" class="item">
        <img src="../img/return.svg" />
      </div>
      <!--标签：备注-->
      <div class="remark">
        <span>WeChat</span>
      </div>
    </div>
    <!-- 主面板中间内容 -->
    <div class="window">
      <div class="login-form">
        <div class="input">
          <span>Account&nbsp;</span>
          <input type="text" name="account" value="" placeholder="WeChat&nbsp;ID/Email/QQ&nbsp;ID">
        </div>
        <div class="input">
          <span>Password</span>
          <input type="password" name="password" value="" placeholder="Password">
        </div>
        <div class="btn-login">
          <span>Log&nbsp;In</span>
        </div>
        <a class="note" href="#">
          Forget&nbsp;Password
        </a>
      </div>
    </div>

    <div class="login-other">
      <img src="../img/login/facebook.png" alt="">
      <span>Facebook&nbsp;Connect</span>
    </div>
    <script src="../js/login.js" charset="utf-8"></script>
  </body>
</html>
