<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/relogin.css">
  </head>
  <body>
    <!--头部-->
    <div id="" class="header" >
      <!--标签：备注-->
      <div class="remark">
        <span>WeChat</span>
      </div>
    </div>
    <!--中间窗口内容  -->
    <div class="window">
      <div class="login-form">
        <div class="login-account">
          <img src="../img/photo/me.jpg" alt="">
          <span>1145690747</span>
        </div>

        <div class="input-items">
          <div class="input-password">
            <img src="../img/login/lock.png" alt="">
            <input type="password" name="" value="" placeholder="Enter Password">
          </div>
          <div class="btn-login">
            <span>Log&nbsp;In</span>
          </div>
        </div>
        <a class="note" href="#">Forgot&nbsp;Password</a>
        <a class="note-more" href="#">More</a>
      </div>
    </div>
  </body>
</html>
